{{data}}
<div class="page-header">
	<h1>Students</h1>
	Search: <div class="form-group"><input ng-model="searchKeyword" type="text" class="form-control"></div>
	<table class="table table-bordered">
		<tr>
			<th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a></th>
			<th><a href="" ng-click="orderByField='phone'; reverseSort = !reverseSort">Phone</a></th>
			<th><a href="" ng-click="orderByField='address'; reverseSort = !reverseSort">Address</a></th>
			<th></th>
		</tr>
		<tr ng-repeat="student in students  | filter: searchKeyword | orderBy:orderByField:reverseSort">
			<td><a href="#/students/{{student.id}}">{{student.name}}</a></td>
			<td>{{student.phone}}</td>
			<td>{{student.address}}</td>
			<td><center><span ng-click="delete_student(student)">X</span></center></td>
		</tr>
	</table>

	<form ng-submit="create_student()">
		<h3>New Student</h3>
		Name: <div class="form-group"><input type="text" ng-model="name" class="form-control"></div>
		Phone: <div class="form-group"><input type="text" ng-model="phone" class="form-control"></div>
		Address: <div class="form-group"><input type="text" ng-model="address" class="form-control"></div>
		<input type="submit">
	</form>
</div>